body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
body {
  background: #f3f4f5;
  font-size: 12px;
  line-height: 1;
  color: #333;
  font-family: PingFangSC-Regular, PingFang SC;
}
img {
  display: block;
  width: 100%;
}
dl,
ul,
ol,
menu,
li {
  list-style: none;
}
a {
  color: #666;
  text-decoration: none;
}
a:active,
a:hover {
  text-decoration: none;
}
i {
  font-style: normal;
}
